body {
    background-color: azure;
    padding: 0px; 
    margin: 0px; 
    height: 100vh; 
}

.calculator-wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator-container {
    width: 400px;
    background-color: #aaa;
    border: 2px #333 solid;
    border-radius: 15px;
    padding: 20px; 
    display: flex; 
    flex-direction: column;
}

.buttons-container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    border: 2px #333 solid;
    border-radius: 5px;
    background-color: #eee;
    font-size: 20px;
}

.clear {
    padding: 20px;
    border: 2px #333 solid;
    border-radius: 5px;
    background-color: #eee;
    font-size: 20px;
    grid-column: span 4;
    background-color: #faa; 
}

.calculator-display {
    font-size: 40px;
}

.display-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    min-height: 64px;
    padding: 10px 20px;
    border: 2px #333 solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #eee;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.divide, 
.multiply, 
.minus, 
.plus {
    background-color: #aaf; 
}