body {
    margin: 0px; 
    padding: 0px; 
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; 
}

.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; 
}

.container { 
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    height: 100%; 
}

.square {
    display: flex; 
    flex: 1;
    height: 100%; 
}

.row-square {
    display: flex; 
    height: 100%; 
}

.square-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 670px;
    width: 960px;    
}