body {
    margin: 0px; 
    padding: 0px; 
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}

.container { 
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    height: 100%; 
}

.square {
    display: flex; 
    flex: 1;
    height: 100%; 
}

.row-square {
    display: flex; 
    height: 100%; 
}

.header {
    /* display: flex;  */
    /* justify-content: flex-end;
    align-items: flex-end; */
    /* margin-right: 285px;  */
}

.square-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 670px;
    width: 960px;    
}