body {
  background-color: #f3f4f6;
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.resume-container,
.form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: white;
}

.resume-container {
  margin-left: 50px;
  margin-right: 100px;
}

.form-container {
  margin-left: 100px;
  margin-right: 50px;
}

.input-label {
  font-weight: bold;
  font-size: 0.8rem;
}

.input-field {
  background-color: #f3f4f6;
  border-radius: 8px;
  border: none;
  padding: 5px;
  font-size: 0.7rem;
  height: 5px;
}

.input-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 5px;
}

.resume-flex-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.general-information-container {
  width: 300px;
}
