* {
    --white: #fffbfb;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body {
    margin: 0px; 
    padding: 0px;    
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.body-grid-container {
    display: grid; 
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--shadow);
    margin: 0px; 
    padding: 0px;
    height: 15vh;
}

.header {
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
    padding-left: 80px;  
}

.main-container {
    height: 85vh;
    margin: 0 auto; 
    /* display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    max-width: 1200px;
}

.books-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));    
    gap: 40px; 
    width: 1000px;
    margin: 0 auto; 
    margin-top: 60px; 
}

.book-card {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px; 
    font-size: 20px;
    box-shadow: var(--shadow);
}

svg {
    width: 30px; 
    height: 30px; 
    margin-right: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    margin: 0 auto; 
    margin-top: 40px; 
}

button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

