body {
    margin: 0px;
    padding: 0px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gameboard-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black; 
    height: 80%; 
    width: 80%;
}

.gameboard-grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
    font-size: 5rem;
}

.end-modal-active {
    position: fixed;
    top: 33.5%; 
    left: 36.3%; 
    background-color: white;
    height: 200px;
    width: 350px;
    border: 1px solid grey;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal-message {
    font-size: 1.5rem; 
    font-weight: bold; 
}

button {
    margin-bottom: 120px;
    padding-bottom: 120px;
}

.overlay-active {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}