<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Enter your information!</h1>

    <form action="/new" method="POST">
      <p>Please enter your information:</p>
      <label for="author_name"></label>
      <input type="text" name="author_name" placeholder="Enter author name" />
      <label for="message_text"></label>
      <input type="text" name="message_text" placeholder="Enter message text" />
      <button type="submit">Submit baby</button>
    </form>
  </body>
</html>
