body {
    margin: 0; 
    padding: 0; 
}

button {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background-color: var(--secondary-dark);
    font-size: 60px;
}

button:hover {
    background-color: rgb(230, 230, 230);
}

.buttons {
    display: flex;
    gap: 30px; 
}

.title {
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: flex; 
    flex-direction: column;
    
}

.rps-header {
    height: 10vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.rps-body {
    margin-top: -70px; 
    height: 90vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-score,
.computer-score {
    margin-top: 70px;
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: bold;
}

.round-result {
    font-size: 32px;
    margin-bottom: 20px;
}

.instruction {
    font-size: 20px;
    margin-bottom: 15px;
}

.score-container {
    display: flex;
    gap: 140px; 
}

.final-result {
    position: absolute;
    bottom: 40px; 
}